
#root {
  /* max-width: 1400px; */
  margin: 0 auto;
  text-align: center;
  /* position: relative; */

  
}


/* @media (min-width:425px) {
  #root {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
  }
  
} */

/* @media (min-width:568px) { */
  /* #root { */
    /* width: 100%; */
    /* margin: 0 auto; */
    /* text-align: center; */
    /* position: relative; */
  /* } */
  /* body { */
    /* margin: 0; */
    /* display: flex; */
    /* width: 100%; */
    /* min-height: 100vh; */
  /* } */
  
/* } */

/* 
@media (min-width:768px) {
  #root {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
  }
  
}
@media (min-width:1024px) {
  #root {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
  }
  
} */

/* @media (min-width:1200px) { */
  /* #root { */
    /* width: 100%; */
    /* margin: 0 auto; */
    /* text-align: center; */
  /* } */
  /* body { */
    /* margin: 0; */
    /* display: flex;
    place-items: center; */
    /* width: 100%; */
    /* min-height: 100vh; */
    
  /* } */
  
/* } */
